{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "16"
                },
                "modules": "cjs",
                "exclude": [
                    "proposal-dynamic-import"
                ]
            }
        ]
    ],
    "ignore": [
        "/node_modules/",
        "/compat/",
        ".test.mjs"
    ],
    "plugins": [
        [
            "module-extension",
            {
                "mjs": "js"
            }
        ]
    ]
}